<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @disciplina.nome %>
</p>

<p>
  <strong>Código:</strong>
  <%= @disciplina.codigo %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @disciplina.curso.nome %>
</p>

<p>
  <strong>Funcionário:</strong>
  <%= @disciplina.funcionario.nome %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @disciplina.funcao.cargo %>
</p>
<p>
  <strong>Alunos:</strong>
  <% @disciplina.alunos.each do |aluno| %>
  <li><%= "Matricula: #{aluno.matricula} - Nome: #{aluno.nome}" %></li>
  <% end %>
</p>


<%= link_to 'Editar', edit_disciplina_path(@disciplina) %> |
<%= link_to 'Voltar', disciplinas_path %>
