<%= form_for(@turma) do |f| %>
  <% if @turma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
      <% @turma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo, "Código" %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :turno, "Turno" %><br>
    <%= f.select(:turno, ["Manha", "Tarde", "Noite"], prompt: "Selecione") %>
  </div>
  <div class="field">
    <%= f.label :semestre, "Semestre" %><br>
    <%= f.text_field :semestre %>
  </div>
  <div class="field">
    <%= f.label :capacidade, "Capacidade" %><br>
    <%= f.number_field :capacidade %>
  </div>
  <div class="field">
    <%= f.label :funcionario_id, "Funcionário" %><br>
    <%= f.collection_select :funcionario_id, Funcionario.all, :id, :nome %>
  </div>
  <div class="field">
    <%= f.label :disciplina_id, "Disciplina" %><br>
    <%= f.collection_select :disciplina_id, Disciplina.all, :id, :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
