<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @turma.codigo %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @turma.turno %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @turma.semestre %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @turma.disciplina.nome %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @turma.capacidade %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @turma.aluno.nome %>
</p>

<%= link_to 'Edit', edit_turma_path(@turma) %> |
<%= link_to 'Back', turmas_path %>
