<p id="notice"><%= notice %></p>

<p>
  <strong>Código:</strong>
  <%= @turma.codigo %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @turma.turno %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @turma.semestre %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @turma.capacidade %>
</p>

<p>
  <strong>Funcionário:</strong>
  <%= @turma.funcionario.nome %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @turma.disciplina.nome %>
</p>
<p>
  <strong>Alunos:</strong>
  <% @turma.alunos.each do |aluno| %>
  <li><%= "Matricula: #{aluno.matricula} - Nome: #{aluno.nome}" %></li>
  <% end %>
</p>

<%= link_to 'Editar', edit_turma_path(@turma) %> |
<%= link_to 'Voltar', turmas_path %>
