<%= form_for(@aluno) do |f| %>
  <% if @aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aluno.errors.count, "error") %> este aluno estar proibido de ser salvo:</h2>

      <ul>
      <% @aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :matricula %><br>
    <%= f.number_field :matricula %>
  </div>
  <div class="field">
    <%= f.label :nascimento %><br>
    <%= f.date_select :nascimento, :start_year => 1950, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :data_cadastro %><br>
    <%= f.date_select :data_cadast, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
