<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @curso.nome %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @curso.codigo %>
</p>

<p>
  <strong>Duraçao:</strong>
  <%= @curso.duracao %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @curso.tipo %>
</p>

<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Voltar', cursos_path %>
