
<table>
  <thead>
    <tr>
      <th>Cargo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcaos.each do |funcao| %>
      <tr>
        <td><%= funcao.cargo %></td>
        <td><%= link_to 'Mostrar |', funcao %></td>
        <td><%= link_to 'Editar |', edit_funcao_path(funcao) %></td>
        <td><%= link_to 'Apagar', funcao, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funçao', new_funcao_path %>