<%= form_for(@funcionario) do |f| %>
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% @funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :Matricula %><br>
    <%= f.text_field :matricula %>
  </div>
  <div class="field">
    <%= f.label :Nascimento %><br>
    <%= f.date_select :nascimento, :start_year => 1950, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :Endereço %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :Admissão %><br>
    <%= f.date_select :admissao, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :Usuário %><br>
    <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>
  <div class="field">
    <%= f.label :Função %><br>
    <%= f.collection_select :funcao_id, Funcao.all, :id, :cargo %>
 </div>
 <div class="field">
    <%= f.label :Sexo %><br>
    <%= f.select(:sexo, ["Feminino", "Masculino"], prompt: "Selecione") %>
  </div>
  <div class="field">
    <%= f.label :CPF %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :RG %><br>
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.select(:status, ["Ativo", "Inativo"]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
