<p id="notice"><%= notice %></p>

<h1>Funcionarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Matricula &nbsp;&nbsp;</th>
      <th>Nascimento &nbsp;&nbsp;</th>
      <th>Endereço &nbsp;&nbsp;</th>
      <th>Admissao &nbsp;&nbsp;</th>
      <th>Usuario &nbsp;&nbsp;</th>
      <th>Funçao &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.matricula %></td>
        <td><%= funcionario.nascimento %></td>
        <td><%= funcionario.endereco %></td>
        <td><%= funcionario.admissao %></td>
        <td><%= funcionario.user.email %></td>
        <td><%= funcionario.funcao.cargo %></td>
        <td><%= link_to 'Mostrar |', funcionario %></td>
        <td><%= link_to 'Editar |', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Apagar', funcionario, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funcionario', new_funcionario_path %>
