<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @funcionario.matricula %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @funcionario.nascimento %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @funcionario.endereco %>
</p>

<p>
  <strong>Admissão:</strong>
  <%= @funcionario.admissao %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @funcionario.user.email %>
</p>

<p>
  <strong>Função:</strong>
  <%= @funcionario.funcao.cargo %>
</p>
<p>
  <strong>Sexo:</strong>
  <%= @funcionario.sexo %>
</p>
<p>
  <strong>CPF:</strong>
  <%= @funcionario.cpf %>
</p>
<p>
  <strong>RG:</strong>
  <%= @funcionario.rg %>
</p>
<p>
  <strong>Status:</strong>
  <%= @funcionario.status %>
</p>

<%= link_to 'Editar', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Voltar', funcionarios_path %>
